Repository IOTSenserSensei/T-IOT-902_sensorSensei, pull requests merged in 2024-05, with the labels that each got.

#46 #42 Wrapper API / IoT
  iot/config.ini
  iot/lib/SensorApi/README.md
  iot/lib/SensorApi/library.json
  iot/lib/SensorApi/src/HttpClient.cpp
  iot/lib/SensorApi/src/HttpClient.h
  iot/lib/SensorApi/src/IClient.h
  iot/lib/SensorApi/src/Measure.cpp
  iot/lib/SensorApi/src/Measure.h
  iot/lib/SensorApi/src/SensorApi.cpp
  iot/lib/SensorApi/src/SensorApi.h
  iot/platformio.ini
  iot/test/test_embedded/test.cpp
  iot/test/test_embedded/test.h
  iot/test/test_embedded/test_sensorapi.cpp
  iot/test/test_native/test.cpp
Labels: feature, à relire, IOT

#28 #5 - Sph0645 documentation
  docs/SPH0645.md
Labels: documentation, à relire

#29 #3 - Ajout LiliGo LoRa32 documentation
  docs/LilyGo_LoRa32.md
Labels: documentation, à relire

#45 #12 - Implemented BMP280 sensor (temperature, pressure)
  iot/config.ini
  iot/lib/emitter/domain/Sensor/BMP280/BMP280Sensor.cpp
  iot/lib/emitter/domain/Sensor/BMP280/BMP280Sensor.h
  iot/lib/emitter/domain/Sensor/ISensor.h
  iot/lib/emitter/domain/Sensor/Pressure/PressureSensor.cpp
  iot/lib/emitter/domain/Sensor/Pressure/PressureSensor.h
  iot/lib/emitter/domain/Sensor/Sensors.cpp
  iot/lib/emitter/domain/Sensor/Temperature/TemperatureSensor.cpp
  iot/lib/emitter/domain/Sensor/Temperature/TemperatureSensor.h
  iot/lib/emitter/manager/DeviceManager/EmitterDeviceManager.cpp
  iot/platformio.ini
Labels: feature, à relire, IOT

#47 #42: Change c++ version to standard and import tl optional header
  iot/lib/SensorApi/src/Measure.cpp
  iot/lib/SensorApi/src/Measure.h
  iot/lib/SensorApi/src/SensorApi.cpp
  iot/lib/SensorApi/src/SensorApi.h
  iot/lib/SensorApi/src/optional.hpp
  iot/platformio.ini
Labels: feature, à relire, API

#40 #33: Initialisation de l'api
  .env.exemple
  .github/workflows/api_build.yaml
  .gitignore
  api/Cargo.lock
  api/Cargo.toml
  api/README.md
  api/src/config.rs
  api/src/dtos/measure.rs
  api/src/dtos/mod.rs
  api/src/exceptions/api_exception.rs
  api/src/exceptions/mod.rs
  api/src/extractors/dto_extractor.rs
  api/src/extractors/mod.rs
  api/src/handlers/measure.rs
  api/src/handlers/mod.rs
  api/src/main.rs
  api/src/services/measure.rs
  api/src/services/mod.rs
  api/src/services/sensor_community.rs
  api/src/state.rs
  docker-compose.yml
Labels: feature, à relire, API

#49 #41: Ajout du coverage
  .github/workflows/api_build.yaml
  .github/workflows/iot_build.yaml
  api/src/config.rs
  api/src/dtos/measure.rs
  api/src/exceptions/api_exception.rs
  api/src/extractors/dto_extractor.rs
  api/src/handlers/measure.rs
  api/src/services/measure.rs
  api/src/services/sensor_community.rs
  api/src/state.rs
  iot/platformio.ini
  iot/src/receptor/main.cpp
  iot/test/test_native/test.cpp
Labels: CI/CD, à merger, IOT, API

#48 #6: Integrated DPH0645LM4H sensor
  iot/config.ini
  iot/lib/emitter/domain/Sensor/BMP280/BMP280Sensor.cpp
  iot/lib/emitter/domain/Sensor/BMP280/BMP280Sensor.h
  iot/lib/emitter/domain/Sensor/Dust/DustSensor.cpp
  iot/lib/emitter/domain/Sensor/Pressure/PressureSensor.cpp
  iot/lib/emitter/domain/Sensor/Sensors.h
  iot/lib/emitter/domain/Sensor/Sound/SoundSensor.cpp
  iot/lib/emitter/domain/Sensor/Sound/SoundSensor.h
  iot/lib/emitter/domain/Sensor/Temperature/TemperatureSensor.cpp
  iot/lib/emitter/manager/DeviceManager/EmitterDeviceManager.cpp
  iot/platformio.ini
  iot/src/emitter/App.cpp
Labels: à merger
